@charset "UTF-8";
@font-face {
  font-family: 'db_helvethaica';
  src: url("../fonts/db_helvethaica_x_v3.2.woff2") format("woff2"), url("../fonts/db_helvethaica_x_v3.2.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'db_helvethaica';
  src: url("../fonts/db_helvethaica_x_med_v3.2.woff2") format("woff2"), url("../fonts/db_helvethaica_x_med_v3.2.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

.header-wrapper .block-header__top {
  background-color: #002B79;
  padding: 10px 0;
}

.header-wrapper .block-header__main {
  background-color: #013CA6;
}

.header-wrapper .header__top {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.header-wrapper .header__top .content-top__left {
  display: flex;
  align-items: center;
}

.header-wrapper .header__top .content-top__left .customer-type {
  font-family: "db_helvethaica";
  font-size: 1.875rem;
  line-height: 2.375rem;
  color: #969696;
  cursor: pointer;
}

.header-wrapper .header__top .content-top__left .customer-type.show {
  color: #fff;
}

.header-wrapper .header__top .content-top__left .customer-type:first-of-type {
  margin-right: 20px;
}

.header-wrapper .header__top .content-top__left .customer-type:hover {
  color: #fff;
}

.header-wrapper .header__top .content-top__right {
  display: flex;
  align-items: center;
}

.header-wrapper .header__top .content-top__right .menu-top .list-menu {
  margin: 0;
  padding: 0;
  display: flex;
}

.header-wrapper .header__top .content-top__right .menu-top .list-menu li {
  list-style: none;
  align-self: start;
  margin-right: 10px;
}

.header-wrapper .header__top .content-top__right .menu-top .list-menu li:last-of-type {
  margin-right: 20px;
}

.header-wrapper .header__top .content-top__right .menu-top .list-menu li .text-menu {
  font-family: "db_helvethaica";
  font-size: 1.125rem;
  line-height: 1.625rem;
  color: #969696;
}

.header-wrapper .header__top .content-top__right .menu-top .list-menu li .text-menu:hover {
  color: #fff;
}

.header-wrapper .header__top .content-top__right .map {
  margin-right: 20px;
}

.header-wrapper .header__top .content-top__right .map a img {
  display: block;
}

.header-wrapper .header__top .content-top__right .search-voice {
  margin-right: 20px;
}

.header-wrapper .header__top .content-top__right .search-voice a img {
  display: block;
}

.header-wrapper .header__top .content-top__right .lang ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.header-wrapper .header__top .content-top__right .lang ul .list-lang {
  list-style: none;
  padding-right: 5px;
  margin-right: 5px;
  border-right: 1px solid #FF7301;
}

.header-wrapper .header__top .content-top__right .lang ul .list-lang a {
  font-family: "db_helvethaica";
  font-size: 1.125rem;
  line-height: 1.625rem;
  color: #969696;
}

.header-wrapper .header__top .content-top__right .lang ul .list-lang.active a {
  color: #fff;
}

.header-wrapper .header__top .content-top__right .lang ul .list-lang:last-child {
  padding-right: 0;
  margin-right: 0;
  border-right: none;
}

.header-wrapper .header__top .content-top__right .lang ul .list-lang:hover a {
  color: #fff;
}

.header-wrapper .header__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.header-wrapper .header__main .logo {
  max-width: 100%;
}

.header-wrapper .header__main .logo img {
  width: 100%;
}

.header-wrapper .header__main .main-menu .list-menu {
  display: flex;
  align-items: center;
}

.header-wrapper .header__main .main-menu .list-menu li {
  list-style: none;
  margin-right: 20px;
}

.header-wrapper .header__main .main-menu .list-menu li a {
  font-family: "db_helvethaica";
  font-size: 1.875rem;
  line-height: 2.375;
  color: #fff;
}

.header-wrapper .header__main .main-menu .list-menu li:last-child {
  margin-right: 0;
}

html, body {
  scroll-behavior: smooth;
}

body {
  font-family: "db_helvethaica", sans-serif;
  font-size: 1rem;
  line-height: 100%;
}

a {
  text-decoration: none;
  background-color: transparent;
}

.text-blue {
  color: #013CA6;
}

.btn {
  transition: all 0.4s ease-in-out 0s;
  min-width: 130px;
  max-width: max-content;
  height: 46px;
  padding: 0 30px;
  display: flex;
  font-size: 22px;
  line-height: 25px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  line-height: normal;
  border: 1px solid #013CA6;
}

.btn--primary {
  background-color: #013CA6;
}

.btn--primary:hover {
  border-color: #FF7301;
  background-color: #FF7301;
}

.btn--outline {
  color: #013CA6;
  border-color: white;
  background-color: white;
}

.btn--outline:hover {
  color: white;
  border-color: #FF7301;
  background-color: #FF7301;
}

.head--title {
  position: relative;
  margin-bottom: 40px;
}

.head--title h3 {
  font-size: 2.25rem;
  margin-bottom: 30px;
}

.head--title:after {
  content: '';
  display: block;
  width: 40px;
  height: 2px;
  background-color: #FF7301;
}

.home--wrapper {
  position: relative;
  background-color: #f1f1f1;
}

.hero--wrapper {
  position: relative;
}

.hero--wrapper .hero--container {
  position: relative;
  width: 100%;
}

.hero--wrapper .hero--container .slider--holder .slider__item {
  outline: none;
  padding: 0;
  position: relative;
}

.hero--wrapper .hero--container .slider--holder .slider__item .slider__image {
  width: 100%;
  transition: all 3s ease;
  transform: scale(1);
}

.hero--wrapper .slick-slide {
  font-size: 0;
  line-height: 0;
}

.hero--wrapper .slider--numbers {
  width: 160px;
  color: #013CA6;
  display: none;
  font-family: "db_helvethaica";
  font-size: 26px;
  line-height: 26px;
  text-align: center;
  left: 50px;
  position: absolute;
  bottom: 25px;
  z-index: 99;
  padding: 5px 0;
  border-radius: 8px;
  background-color: rgba(150, 150, 150, 0.5);
}

.hero--wrapper .slider--numbers .active {
  color: #013CA6;
  margin-right: -4px;
}

.hero--wrapper .slider--numbers .total {
  margin-left: -3px;
}

.hero--wrapper .slick-arrow {
  font-size: 0;
  line-height: 0;
  padding: 0;
  border: 0;
  outline: none;
  background: none;
  position: absolute;
  bottom: 25px;
  padding: 10px;
  color: #fff;
  text-transform: lowercase;
  cursor: pointer;
  z-index: 101;
}

.hero--wrapper .slick-arrow.slick-next {
  left: 160px;
}

.hero--wrapper .slick-arrow.slick-next:before {
  content: url("../images/static/icons/arrow-right.svg");
}

.hero--wrapper .slick-arrow.slick-prev {
  left: 60px;
}

.hero--wrapper .slick-arrow.slick-prev:before {
  content: url("../images/static/icons/arrow-left.svg");
}

.hero--wrapper .slick-arrow.slick-disabled {
  bottom: 31px;
}

.hero--wrapper .slick-arrow.slick-disabled:before {
  content: url("../images/static/icons/arrow-line.svg");
}

.search--wrapper {
  position: relative;
  margin-top: -35px;
}

.search--wrapper .content--holder {
  padding: 10px 20px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.search--wrapper .content--holder .form-control {
  border: none;
  font-size: 22px;
  line-height: 26px;
}

.search--wrapper .content--holder .form-control:focus {
  outline: 0;
  box-shadow: none;
}

.search--wrapper .content--holder .btn {
  min-width: 38px;
  width: 38px;
  max-width: 38px;
  height: 38px;
}

.search--wrapper .content--holder .btn--search {
  display: block;
  font-size: 0;
  line-height: 0;
  padding: 0;
  margin: auto;
  border: none;
  border-radius: 50%;
  background-color: #FF7301;
  transition: transform 0.4s ease;
}

.search--wrapper .content--holder .btn--search:before {
  content: url("../images/static/icons/angle-right-white.svg");
}

.search--wrapper .content--holder .btn--search:hover {
  background-color: #013CA6;
  transform: rotate(360deg);
}

.produt--wrapper {
  position: relative;
  padding: 40px 0;
}

.produt--wrapper .nav-tabs {
  border-bottom: none;
}

.produt--wrapper .nav-tabs .nav-link {
  position: relative;
  padding: 1rem;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 22px;
  color: #969696;
  border: none;
  border-radius: 0;
}

.produt--wrapper .nav-tabs .nav-link:after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background-color: #969696;
  transition: all 0.4s ease 0;
}

.produt--wrapper .nav-tabs .nav-link:hover {
  border: none;
  color: #FF7301;
  isolation: unset;
}

.produt--wrapper .nav-tabs .nav-link.active {
  color: #FF7301;
  background-color: transparent;
  border: none;
}

.produt--wrapper .nav-tabs .nav-link.active:after {
  height: 4px;
  background-color: #FF7301;
}

.produt--wrapper .slider--loan {
  position: relative;
}

.produt--wrapper .slider--loan .slider__image {
  max-width: 100%;
}

.produt--wrapper .slider--loan .slider__content {
  position: relative;
  margin-bottom: 60px;
}

.produt--wrapper .slider--loan .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9;
  width: 46px;
  height: 35px;
  text-indent: -9999px;
  border: 0;
  border-radius: 6px;
  background-color: rgba(1, 60, 166, 0.2);
  background-position: center center;
  background-repeat: no-repeat;
  transition: all 0.4s ease 0s;
}

.produt--wrapper .slider--loan .slick-arrow:hover {
  background-color: #FF7301;
}

.produt--wrapper .slider--loan .slick-arrow.slick-next {
  background-image: url("../images/static/icons/arrow-right-white.svg");
}

.produt--wrapper .slider--loan .slick-arrow.slick-prev {
  background-image: url("../images/static/icons/arrow-left-white.svg");
}

@media screen and (min-width: 1400px) {
  .produt--wrapper .slider--loan .slick-arrow.slick-next {
    right: -23px;
  }
  .produt--wrapper .slider--loan .slick-arrow.slick-prev {
    left: -23px;
  }
}

.produt--wrapper .slider--loan .slick-dots {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.produt--wrapper .slider--loan .slick-dots li {
  list-style: none;
  width: 70px;
  height: 3px;
  margin: 0 2px;
  transition: all 0.4s ease;
}

.produt--wrapper .slider--loan .slick-dots li button {
  width: 100%;
  height: 100%;
  text-indent: -9999px;
  border: 0;
  background-color: #969696;
  transition: all 0.4s ease;
}

.produt--wrapper .slider--loan .slick-dots li.slick-active {
  width: 70px;
  height: 6px;
}

.produt--wrapper .slider--loan .slick-dots li.slick-active button {
  background-color: #FF7301;
}

.produt--wrapper .slider--loan .title--box {
  margin-bottom: 40px;
  font-size: 20px;
  line-height: 24px;
}

.produt--wrapper .slider--loan .content--box {
  margin-bottom: 40px;
  font-size: 20px;
  line-height: 24px;
}

.produt--wrapper .slider--loan .content--box .icon__rate {
  max-width: 100%;
}

.produt--wrapper .slider--loan .content--box .text__editor {
  position: relative;
}

.produt--wrapper .slider--loan .content--box .text__editor ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.produt--wrapper .slider--loan .content--box .text__editor ul li {
  display: block;
  margin-bottom: 1rem;
}

.produt--wrapper .slider--loan .content--box .text__editor ul li:before {
  content: url("../images/static/icons/list-blue.svg");
}

.produt--wrapper .slider--loan .button--control {
  display: flex;
}

.produt--wrapper .slider--loan .button--control .btn:not(:first-child) {
  margin-left: 1rem;
}

.service--wrapper {
  position: relative;
  padding: 40px 0;
  background-color: white;
}

.service--wrapper .video--wrapper .image__box {
  position: relative;
  display: block;
  margin-bottom: 30px;
  border-radius: 8px;
}

.service--wrapper .video--wrapper .image__box img {
  width: 100%;
}

.service--wrapper .video--wrapper .image__box .btnPlay {
  position: absolute;
  bottom: 30px;
  left: 30px;
  z-index: 5;
}

.service--wrapper .video--wrapper .image__box .btnPlay img {
  width: 15px;
}

.service--wrapper .video--wrapper .content__box {
  position: relative;
}

.service--wrapper .video--wrapper .content__box h3 {
  font-size: 2.25rem;
  margin-bottom: 30px;
}

.service--wrapper .video--wrapper .btnPlay {
  display: flex;
  width: 48px;
  justify-content: center;
  align-items: center;
  height: 48px;
  border-radius: 50%;
  background: #FF7301;
  background-color: rgba(255, 255, 255, 0.6);
  border: 2px solid white;
  cursor: pointer;
  box-shadow: 0 0 0 white;
  transition: all 0.4s ease;
  animation: btnPulse 2s infinite;
}

.service--wrapper .video--wrapper .btnPlay:hover {
  background-color: white;
}

@keyframes btnPulse {
  0% {
    box-shadow: 0 0 0 0 white;
  }
  70% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

.service--wrapper .card--service {
  position: relative;
  border: none;
  border-radius: 8px;
  background-color: #F1F1F1;
  padding: 20px;
  transition: all 0.4s ease 0s;
}

.service--wrapper .card--service .card__body {
  position: relative;
}

.service--wrapper .card--service .card__title {
  font-size: 2.25rem;
  color: #4C4C4C;
}

.service--wrapper .card--service .card__text {
  font-size: 1.25rem;
  color: #4C4C4C;
}

.service--wrapper .card--service .card__figure {
  text-align: right;
  transition: all 0.4s ease 0s;
}

.service--wrapper .card--service:hover {
  background-color: white;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.service--wrapper .card--service:hover .card__figure {
  transform: rotate(2deg);
}

.service--wrapper .card--service .modal--tooltip {
  position: absolute;
  bottom: 100%;
  right: 0;
  width: 125px;
  opacity: 0;
  transform: translateY(-10%);
  transition: opacity 0.5s, transform 0.5s;
  pointer-events: none;
  padding-bottom: 10px;
}

.service--wrapper .card--service .modal--tooltip:hover {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0%);
}

.service--wrapper .card--service .modal--tooltip.open {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0%);
}

.service--wrapper .card--service .modal--tooltip .content__tooltip {
  padding: 1rem;
  background-color: #013CA6;
  border-radius: 8px;
  font-size: 26px;
  line-height: 1.5rem;
  color: #fff;
}

.service--wrapper .card--service .modal--tooltip .content__tooltip .text {
  position: relative;
  padding-bottom: 1rem;
}

.service--wrapper .card--service .modal--tooltip .content__tooltip .text:after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  display: block;
  width: 40px;
  height: 2px;
  background-color: #FF7301;
}

.service--wrapper .card--service .modal--tooltip .content__tooltip:after {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  content: "";
  width: 15px;
  aspect-ratio: 1;
  background: inherit;
}

.news--wrapper {
  position: relative;
  padding: 40px 0;
  background-color: white;
}

.news--wrapper .article--rate {
  height: 355px;
  border-radius: 8px;
  background-color: #F1F1F1;
}

.news--wrapper .article--rate .nav-tabs {
  border-bottom: none;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: #F1F1F1;
}

.news--wrapper .article--rate .nav-tabs .nav-link {
  width: 50%;
  padding: 1rem;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 22px;
  color: #969696;
  border: none;
  border-radius: 0;
  background-color: white;
}

.news--wrapper .article--rate .nav-tabs .nav-link:first-child {
  border-bottom-right-radius: 8px;
}

.news--wrapper .article--rate .nav-tabs .nav-link:last-child {
  border-bottom-left-radius: 8px;
}

.news--wrapper .article--rate .nav-tabs .nav-link:hover {
  border: none;
  color: #FF7301;
  isolation: unset;
}

.news--wrapper .article--rate .nav-tabs .nav-link.active {
  color: #FF7301;
  background-color: transparent;
  border: none;
}

.news--wrapper .article--rate .tab-content .tab-pane {
  padding: 1rem 1rem 0.5rem 1rem;
}

.news--wrapper .article--rate .table--increase > :not(caption) > * > * {
  font-weight: 300;
  font-size: 22px;
  line-height: 36px;
  color: #4C4C4C;
  border-bottom-color: white;
}

.news--wrapper .article--rate .table--increase th:before {
  content: '•';
  color: #4C4C4C;
}

.news--wrapper .article--rate .table--increase td {
  font-weight: 500;
  font-size: 36px;
  color: #013CA6;
  text-align: right;
}

.news--wrapper .article--news .slider--news .slider__item {
  position: relative;
  height: 355px !important;
  background-color: transparent;
  border-radius: 8px;
  overflow: hidden;
}

.news--wrapper .article--news .slider--news .slider__item .slider__image {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  width: 100%;
  height: 100%;
  transition: all 0.4s ease 0s;
}

.news--wrapper .article--news .slider--news .slider__item .button--control {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 2;
}

.news--wrapper .article--news .slider--news .slider__item:hover .slider__image {
  transform: rotate(2deg) scale(1.1);
}

.news--wrapper .article--news .slider--news .slider__item:hover .btn--outline {
  color: white;
  border-color: #FF7301;
  background-color: #FF7301;
}

.news--wrapper .article--news .slider--news .slider__item:after {
  content: '';
  display: block;
  width: 100%;
  height: 90px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(76, 76, 76, 0.75));
}

.news--wrapper .article--news .slider--news .slick-dots {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 1;
  display: flex;
  align-items: flex-end;
  margin-bottom: 0;
}

.news--wrapper .article--news .slider--news .slick-dots li {
  list-style: none;
  width: 70px;
  height: 3px;
  margin: 0 2px;
  transition: all 0.4s ease;
}

.news--wrapper .article--news .slider--news .slick-dots li button {
  width: 100%;
  height: 100%;
  text-indent: -9999px;
  border: 0;
  background-color: #969696;
  transition: all 0.4s ease;
}

.news--wrapper .article--news .slider--news .slick-dots li.slick-active {
  width: 70px;
  height: 6px;
}

.news--wrapper .article--news .slider--news .slick-dots li.slick-active button {
  background-color: #FF7301;
}

.news--wrapper .article--info {
  margin-top: 20px;
}

.news--wrapper .article--info .card--holder {
  position: relative;
  display: block;
  width: 100%;
  height: 250px;
  border-radius: 8px;
  overflow: hidden;
}

.news--wrapper .article--info .card--holder .card__image {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  width: 100%;
  height: 100%;
  transition: all 0.4s ease 0s;
}

.news--wrapper .article--info .card--holder .button--control {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.news--wrapper .article--info .card--holder:hover .card__image {
  transform: rotate(2deg) scale(1.1);
}

.news--wrapper .article--info .card--holder:hover .btn--outline {
  color: white;
  border-color: #FF7301;
  background-color: #FF7301;
}
