.header--desktop{
    position: relative;
    display: block;
    width: 100%;
    height: auto;

    .block-header{
        &__top{
            background-color: #002B79;
            padding: 10px 0;
            transition: all 0.4s ease 0s;
        }

        &__main{
            background-color: #013CA6;
            display: none;

            &.show{
                display: block;
            }
        }
    }

    .header{
        &__top{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            .content-top{
                transition: all 0.4s ease 0s;

                &__left{
                    display: flex;
                    align-items: center;

                    .customer-type{
                        font-family: $font-regular;
                        font-size: 1.875rem;
                        line-height: 2.375rem;
                        color: #969696;
                        cursor: pointer;
                        position: relative;
                        &:after{
                            content: '';
                            position: absolute;
                            bottom: -10px;
                            right: 0;
                            left: 0;
                            margin: auto;
                            width: 0;
                            height: 0;
                            border-width: 0 8.5px 8px 8.5px;
                            border-color: transparent transparent #013CA6 transparent;
                            border-style: solid;
                            opacity: 0;
                        }
                        &.show{
                            color: #fff;
                            &:after{
                                opacity: 1;
                            }
                        }
                        &:first-of-type{
                            margin-right: 20px;
                        }
                        &:hover{
                            color: #fff;
                        }
                    }
                }
                &__right{
                    display: flex;
                    align-items: center;
                    .menu-top{
                        .list-menu{
                            margin: 0;
                            padding: 0;

                            display: flex;

                            li{
                                list-style: none;
                                align-self: start;
                                margin-right: 10px;
                                &:last-of-type{
                                    margin-right: 20px;
                                }
                                .text-menu{
                                    font-size: 1.25rem;
                                    line-height: 1.625rem;
                                    color: #969696;
                                    &:hover{
                                        color: #fff;
                                    }
                                }

                            }
                        }
                    }
                    .map{
                        margin-right: 20px;
                        a{
                            img{
                                display: block;
                            }
                        }
                    }
                    .search-voice{
                        margin-right: 20px;
                        a{
                            img{
                                display: block;
                            }
                        }
                    }
                    .lang{
                        ul{
                            margin: 0;
                            padding: 0;
                            display: flex;
                            align-items: center;
                            .list-lang{
                                list-style: none;
                                padding-right: 5px;
                                margin-right: 5px;
                                border-right: 1px solid #FF7301;
                                a{
                                    font-family: $font-regular;
                                    font-size: 1.25rem;
                                    line-height: 1.625rem;
                                    color: #969696;
                                }
                                &.active{
                                    a{
                                        color: #fff;
                                    }
                                }
                                &:last-child{
                                    padding-right: 0;
                                    margin-right: 0;
                                    border-right: none;
                                }
                                &:hover{
                                    a{
                                        color: #fff;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        &__main{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px 0;
            transition: all 0.4s ease 0s;

            .logo{
                img{
                    width: 270px;
                    height: auto;
                    transition: all 0.4s ease 0s;
                }
            }
            .main-menu{
                .list-menu{
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;

                    padding: 0;
                    margin: 0;

                    li{
                        list-style: none;
                        padding: 0;
                        margin: 0;
                        margin-left: 20px;

                        a{
                            font-size: 1.875rem;
                            line-height: 2.375;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }

    &__animate{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 109;

        .header__main{
            padding: 0;

            .logo{
                img{
                    width: 200px;
                }
            }
        }
    }
    
}

//Mobile Nav
.header--mobile{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 109;
    display: block;
    width: 100%;
    height: auto;

    .header--container{
        display: block;
        background-color: #013CA6;

        .header__content{
            display: flex;
            justify-content: space-between;
            align-items: center;

            height: 85px;
        }

        .header__left{
            display: flex;
            align-items: center;

            .logo{
                img{
                    max-width: 200px;
                }
            }
        }

        .header__right{
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .menu--bars{
                display: flex;
                justify-content: flex-end;
                align-items: center;

                .map__icon{
                    margin-left: 1rem;
                }

                .voice__icon{
                    margin-left: 1rem;
                }
            }

            .hamburger {
                margin-left: 1rem;
                cursor: pointer;

                .line{
                    width: 30px;
                    height: 2px;
                    background-color: white;
                    display: block;
                    margin: 8px auto;
                    -webkit-transition: all 0.3s ease-in-out;
                    -o-transition: all 0.3s ease-in-out;
                    transition: all 0.3s ease-in-out;
                }

                &.is-active{
                    -webkit-transition: all 0.3s ease-in-out;
                    -o-transition: all 0.3s ease-in-out;
                    transition: all 0.3s ease-in-out;
                    
                    .line:nth-child(2){
                        opacity: 0;
                    }

                    .line:nth-child(1){
                        -webkit-transform: translateY(10px) rotate(45deg);
                        -ms-transform: translateY(10px) rotate(45deg);
                        -o-transform: translateY(10px) rotate(45deg);
                        transform: translateY(10px) rotate(45deg);
                    }

                    .line:nth-child(3){
                        -webkit-transform: translateY(-10px) rotate(-45deg);
                        -ms-transform: translateY(-10px) rotate(-45deg);
                        -o-transform: translateY(-10px) rotate(-45deg);
                        transform: translateY(-10px) rotate(-45deg);
                    }
                }
            }
        }
    }

    .header--nav{
        position: fixed;
        left: 0;
        z-index: 1041;
        width: 100%;
        height: 0;
        padding: 0;
        transition: all .3s ease-in-out;
        background-color: white;
        // background: linear-gradient(180deg, #CFCFCF 0%, #fff 100%);
        overflow: hidden;

        &__open{
            top: 85px;
            height: calc( 100vh - 85px);
            transition: all .3s ease-in-out;
            overflow-y: auto;
        }

        .navbar{
            display: block !important;
            width: 100%;
            height: auto;
            padding: 0;

            .navbar-nav{
                padding: 15px;
                
                .nav-item{
                    .nav-link{
                        position: relative;
                        font-size: 1.875rem;
                        line-height: 2.25rem;
                        color: #4c4c4c;
                        transition: all 0.3s ease-out;

                        &:after{
                            position: absolute;
                            top: 50%;
                            right: 0;
                            transform: translateY(-50%) rotate(90deg);
                            border: none;
                            content: url(../images/static/icons/angle-right-white.svg);

                            display: flex;
                            justify-content: center;
                            align-items: center;

                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                            background-color: #013CA6;
                            transition: all 0.3s ease-out;
                        }

                        &.show{
                            color: #013CA6;

                            &:after{
                                transform: translateY(-50%) rotate(-90deg);
                            }
                        }
                    }

                    >.dropdown-menu {
                        display: block;
                        height: 0;
                        padding: 0;
                        border: 0;
                        border-radius: 0;
                        background-color: transparent;
                        transition: all 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
                        overflow: hidden;
                        transform-origin: top center;
                        transform: scale(1,0);

                        &.show{
                            height: auto;
                            transition: all 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
                            transform: scale(1);
                        }

                        li{
                            list-style: none;
                            padding: 0;
                            margin: 0;
                        }
    
                        .dropdown-item {
                            position: relative;
                            display: block;
                            padding: 10px 10px 10px 30px;
                            font-size: 1.25rem;
                            line-height: 2.25rem;
                            color: #4c4c4c;
                            border-bottom: 1px solid #f1f1f1;
                            transition: all 0.3s ease-out;

                            &:after{
                                content: '';
                                position: absolute;
                                top: 50%;
                                left: 0;
                                transform: translateY(-50%);
                                width: 20px;
                                height: 2px;
                                background-color: #4c4c4c;
                            }
                        }
                    }
                }
            }

            .navbar--nav{
                padding: 15px;
                background-color: #f1f1f1;

                li{
                    list-style: none;
                    padding: 0;
                    margin: 0;

                    .text-menu{
                        font-size: 1.25rem;
                        line-height: 2.25rem;
                        color: #4c4c4c;
                    }
                }
            }

            .lang--box{
                display: flex;
                justify-content: center;
                align-items: center;
                
                a{
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    width: 32px;
                    height: 30px;
                    margin: 0 10px;
                    border: 1px solid transparent;
                    border-radius: 50%;

                    font-size: 1.25rem;
                    line-height: 2.25rem;
                    color: #4c4c4c;

                    &.active{
                        color: white;
                        border-color: #FF7301;
                        background-color: #FF7301;
                    }
                }

                ul{
                    margin: 0;
                    padding: 0;
                    display: flex;
                    align-items: center;
                    .list-lang{
                        list-style: none;
                        padding-right: 5px;
                        margin-right: 5px;
                        border-right: 1px solid #FF7301;
                        
                        a{
                            font-size: 1.25rem;
                            line-height: 1.25rem;
                            color: #4c4c4c;
                        }

                        &.active{
                            a{
                                color: #fff;
                            }
                        }

                        &:last-child{
                            padding-right: 0;
                            margin-right: 0;
                            border-right: none;
                        }

                        &:hover{
                            a{
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}